<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %> 
<form action="/books/<%=book.id%>?_method=PUT" method="post">
  <label for="name-input">Book Title</label>
  <input type="text" name="name" id="name-input">
  <button>update</button>
</form>
<%- include('../partials/footer') %> 