<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %> 
<% if (user) { %>
  <form action="/books" method="POST">
    <label for="title-input">Book Title</label>
    <input type="text" name="title" id="title-input">
    <button type="submit">add Book</button>
  </form>
<% }else{ %>
  <h1>Log In to add a book</h1>
<%} %>
<ul>
<% books.forEach(book => { %>
<li>
  Book: <a href="/books/<%book._id%>"><%= book.title %></a>
</li>
<% }) %>
</ul>
<%- include('../partials/footer') %> 