<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %> 
<form action="/books" method="POST">
  <label for="title-input">Book Title</label>
  <input type="text" name="title" id="title-input">
</form>
<%- include('../partials/footer') %> 