  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <% if (user) { %>
      <a href="/" class="nav-link"><button type="submit">home page</button></a>
      <a href="/profiles/<%=user.profile._id%>" class="nav-link right"> 
        <button type="submit"> 
        <img style="height:28px;width:28px;border:1px solid beige;border-radius:50%;" src="<%= user.profile.avatar %>" alt="<%= user.profile.name %> avatar"/>
        profile
      </button></a>
      <a href="/books" class="nav-link"><button type="submit">book bank</button></a>
      <a href="/authors" class="nav-link"><button type="submit">authors</button></a>
      <a href="/auth/logout" class="nav-link">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </nav>
